<link rel="manifest" href="/site.webmanifest">

<script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
<script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Vanya Cohen",
  "url": "https://vanyacohen.com",
  "jobTitle": "PhD Student & Research Scientist",
  "affiliation": [
    {
      "@type": "Organization",
      "name": "University of Texas at Austin"
    },
    {
      "@type": "Organization",
      "name": "Blackbird.AI"
    }
  ],
  "alumniOf": {
    "@type": "Organization",
    "name": "Brown University"
  },
  "knowsAbout": ["Natural Language Processing", "Reinforcement Learning", "Robotics", "Machine Learning", "Large Language Models"],
  "sameAs": [
    "https://scholar.google.com/citations?user=VSc-eTAAAAAJ",
    "https://github.com/vanyacohen",
    "https://www.linkedin.com/in/vanyacohen",
    "https://twitter.com/vanyacohen"
  ]
}
</script>
